In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
p = pd.read_csv('sampled_humans.csv')
data = pd.read_csv('BROWARD_CLEAN.csv')

In [3]:
p

,mTurk_code,yes,no,h1,h2,h3,h4,h5,h6,h7,...,h91,h92,h93,h94,h95,h96,h97,h98,h99,h100
0,8307,0.523810,0.428571,1,0,0,1,1,1,0,...,0,0,1,1,0,0,0,1,1,1
1,10406,0.428571,0.523810,1,0,0,0,0,0,0,...,1,1,0,0,0,1,1,0,0,1
2,8267,0.761905,0.190476,1,1,1,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,5593,0.857143,0.095238,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,61,0.238095,0.714286,1,1,1,1,1,0,0,...,1,1,0,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,7153,0.714286,0.238095,1,0,1,1,0,1,0,...,1,0,0,0,0,1,1,1,0,0
996,10720,0.380952,0.571429,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
997,7975,0.857143,0.095238,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
998,7945,0.333333,0.619048,1,1,0,1,0,1,1,...,0,1,1,1,1,1,1,1,1,1
999,4536,0.761905,0.190476,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data['mTurk_code'] = data['id']
data = data.drop(['id', 'race', 'age', 'juv_fel_count', 'juv_misd_count',
       'priors_count', 'charge_id', 'charge_degree (misd/fel)',
       'compas_decile_score',
       'compas_correct', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'], axis=1)
data

      sex  two_year_recid  compas_guess  mTurk_code
0       0               0             0           1
1       0               1             0           3
2       0               1             0           4
3       0               0             1           5
4       0               0             0           6
...   ...             ...           ...         ...
7209    0               0             1       10996
7210    0               0             0       10997
7211    0               0             0       10999
7212    1               0             0       11000
7213    1               1             0       11001

[7214 rows x 4 columns]

In [5]:
merged = pd.merge(data, p, on='mTurk_code', how='inner')
merged = merged.drop(['yes', 'no', 'mTurk_code'], axis=1)
merged

,sex,two_year_recid,compas_guess,h1,h2,h3,h4,h5,h6,h7,...,h91,h92,h93,h94,h95,h96,h97,h98,h99,h100
0,0,0,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,1
1,0,1,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,0
2,1,0,0,1,1,1,1,1,0,0,...,1,1,0,1,1,0,0,1,1,1
3,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,1,1,0,1
996,0,0,0,0,1,0,0,1,0,1,...,1,1,0,1,0,0,0,1,0,0
997,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
998,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [7]:
df = merged
# Load your DataFrame (replace with your data loading method)
# df = pd.read_csv('your_file.csv')

# List of prediction columns including 'compas_guess'
h_columns = [f'h{i}' for i in range(1, 101)] + ['compas_guess']

# Initialize dictionaries to hold metrics for each sex group
metrics_sex_0 = {h: {'TP': 0, 'FP': 0, 'FN': 0, 'TN': 0} for h in h_columns}
metrics_sex_1 = {h: {'TP': 0, 'FP': 0, 'FN': 0, 'TN': 0} for h in h_columns}

# Calculate metrics for sex = 0
df_sex_0 = df[df['sex'] == 0]
for h in h_columns:
    tp = ((df_sex_0[h] == 1) & (df_sex_0['two_year_recid'] == 1)).sum()
    fp = ((df_sex_0[h] == 1) & (df_sex_0['two_year_recid'] == 0)).sum()
    fn = ((df_sex_0[h] == 0) & (df_sex_0['two_year_recid'] == 1)).sum()
    tn = ((df_sex_0[h] == 0) & (df_sex_0['two_year_recid'] == 0)).sum()
    
    metrics_sex_0[h]['TP'] = tp
    metrics_sex_0[h]['FP'] = fp
    metrics_sex_0[h]['FN'] = fn
    metrics_sex_0[h]['TN'] = tn

# Calculate metrics for sex = 1
df_sex_1 = df[df['sex'] == 1]
for h in h_columns:
    tp = ((df_sex_1[h] == 1) & (df_sex_1['two_year_recid'] == 1)).sum()
    fp = ((df_sex_1[h] == 1) & (df_sex_1['two_year_recid'] == 0)).sum()
    fn = ((df_sex_1[h] == 0) & (df_sex_1['two_year_recid'] == 1)).sum()
    tn = ((df_sex_1[h] == 0) & (df_sex_1['two_year_recid'] == 0)).sum()
    
    metrics_sex_1[h]['TP'] = tp
    metrics_sex_1[h]['FP'] = fp
    metrics_sex_1[h]['FN'] = fn
    metrics_sex_1[h]['TN'] = tn

# Convert the metrics dictionaries to DataFrames
metrics_df_sex_0 = pd.DataFrame(metrics_sex_0).T
metrics_df_sex_1 = pd.DataFrame(metrics_sex_1).T

# Show the metrics DataFrames
print("Metrics for sex = 0:")
print(metrics_df_sex_0)

print("\nMetrics for sex = 1:")
print(metrics_df_sex_1)

# Optionally save the metrics DataFrames to CSV
# metrics_df_sex_0.to_csv('metrics_sex_0.csv')
# metrics_df_sex_1.to_csv('metrics_sex_1.csv')

Metrics for sex = 0:
               TP   FP   FN   TN
h1            155  180  252  216
h2            156  180  251  216
h3            148  173  259  223
h4            161  188  246  208
h5            166  175  241  221
...           ...  ...  ...  ...
h97           150  192  257  204
h98           144  176  263  220
h99           144  185  263  211
h100          151  194  256  202
compas_guess  250  128  157  268

[101 rows x 4 columns]

Metrics for sex = 1:
              TP  FP  FN  TN
h1            29  39  40  89
h2            31  43  38  85
h3            34  45  35  83
h4            25  43  44  85
h5            35  45  34  83
...           ..  ..  ..  ..
h97           26  30  43  98
h98           28  46  41  82
h99           29  45  40  83
h100          31  44  38  84
compas_guess  43  37  26  91

[101 rows x 4 columns]

In [8]:
df = merged

h_columns = [f'h{i}' for i in range(1, 21)] + ['compas_guess']

# Initialize a dictionary to hold metrics for each prediction column
metrics = {h: {'TP': 0, 'FP': 0, 'FN': 0, 'TN': 0} for h in h_columns}

# Calculate TP, FP, FN, TN
for h in h_columns:
    # True Positives (TP): Predicting 1 when true label is 1
    tp = ((df[h] == 1) & (df['two_year_recid'] == 1)).sum()
    # False Positives (FP): Predicting 1 when true label is 0
    fp = ((df[h] == 1) & (df['two_year_recid'] == 0)).sum()
    # False Negatives (FN): Predicting 0 when true label is 1
    fn = ((df[h] == 0) & (df['two_year_recid'] == 1)).sum()
    # True Negatives (TN): Predicting 0 when true label is 0
    tn = ((df[h] == 0) & (df['two_year_recid'] == 0)).sum()

    # Store the calculated values in the metrics dictionary
    metrics[h]['TP'] = tp
    metrics[h]['FP'] = fp
    metrics[h]['FN'] = fn
    metrics[h]['TN'] = tn

# Convert the metrics dictionary to a DataFrame for better readability
metrics_df = pd.DataFrame(metrics).T

# Show the metrics DataFrame
metrics_df

# Optionally save the metrics DataFrame to a CSV
# metrics_df.to_csv('metrics.csv')

               TP   FP   FN   TN
h1            184  219  292  305
h2            187  223  289  301
h3            182  218  294  306
h4            186  231  290  293
h5            201  220  275  304
h6            176  217  300  307
h7            166  217  310  307
h8            172  219  304  305
h9            181  222  295  302
h10           186  222  290  302
h11           176  215  300  309
h12           199  223  277  301
h13           185  238  291  286
h14           179  210  297  314
h15           193  231  283  293
h16           188  225  288  299
h17           182  224  294  300
h18           196  219  280  305
h19           178  218  298  306
h20           178  224  298  300
compas_guess  293  165  183  359

In [9]:
def independence(tp, fp, fn, tn):
    return (tp+fp)/(tp+fp+fn+tn)
def specificity(tp, fp, fn, tn):
    return tn/(tn+fp)
def recall(tp, fp, fn, tn):
    return tp/(tp+fn)
def precision(tp, fp, fn, tn):
    return tp/(tp+fp)
def sufficiency(tp, fp, fn, tn):
    return tn/(tn+fn)

In [10]:
metrics_df_sex_0['independence'] = metrics_df_sex_0.apply(lambda row: independence(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_0['specificity'] = metrics_df_sex_0.apply(lambda row: specificity(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_0['recall'] = metrics_df_sex_0.apply(lambda row: recall(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_0['precision'] = metrics_df_sex_0.apply(lambda row: precision(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_0['sufficiency'] = metrics_df_sex_0.apply(lambda row: sufficiency(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_0

,TP,FP,FN,TN,independence,specificity,recall,precision,sufficiency
h1,155,180,252,216,0.417186,0.545455,0.380835,0.462687,0.461538
h2,156,180,251,216,0.418431,0.545455,0.383292,0.464286,0.462527
h3,148,173,259,223,0.399751,0.563131,0.363636,0.461059,0.462656
h4,161,188,246,208,0.434620,0.525253,0.395577,0.461318,0.458150
h5,166,175,241,221,0.424658,0.558081,0.407862,0.486804,0.478355
...,...,...,...,...,...,...,...,...,...
h97,150,192,257,204,0.425903,0.515152,0.368550,0.438596,0.442516
h98,144,176,263,220,0.398506,0.555556,0.353808,0.450000,0.455487
h99,144,185,263,211,0.409714,0.532828,0.353808,0.437690,0.445148
h100,151,194,256,202,0.429639,0.510101,0.371007,0.437681,0.441048
compas_guess,250,128,157,268,0.470735,0.676768,0.614251,0.661376,0.630588

In [11]:
metrics_df_sex_1['independence'] = metrics_df_sex_1.apply(lambda row: independence(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_1['specificity'] = metrics_df_sex_1.apply(lambda row: specificity(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_1['recall'] = metrics_df_sex_1.apply(lambda row: recall(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_1['precision'] = metrics_df_sex_1.apply(lambda row: precision(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_1['sufficiency'] = metrics_df_sex_1.apply(lambda row: sufficiency(row['TP'], row['FP'], row['FN'], row['TN']), axis=1)
metrics_df_sex_1

,TP,FP,FN,TN,independence,specificity,recall,precision,sufficiency
h1,29,39,40,89,0.345178,0.695312,0.420290,0.426471,0.689922
h2,31,43,38,85,0.375635,0.664062,0.449275,0.418919,0.691057
h3,34,45,35,83,0.401015,0.648438,0.492754,0.430380,0.703390
h4,25,43,44,85,0.345178,0.664062,0.362319,0.367647,0.658915
h5,35,45,34,83,0.406091,0.648438,0.507246,0.437500,0.709402
...,...,...,...,...,...,...,...,...,...
h97,26,30,43,98,0.284264,0.765625,0.376812,0.464286,0.695035
h98,28,46,41,82,0.375635,0.640625,0.405797,0.378378,0.666667
h99,29,45,40,83,0.375635,0.648438,0.420290,0.391892,0.674797
h100,31,44,38,84,0.380711,0.656250,0.449275,0.413333,0.688525
compas_guess,43,37,26,91,0.406091,0.710938,0.623188,0.537500,0.777778